<!DOCTYPE html>
<head>
  <title>Email generator</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='email.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='email.png') }}" class="icon" />
  <h3>Write an email</h3>
  <form action="/" method="post">
    <input type="text" name="recipient" placeholder="Recipient" required />
    <input type="text" name="subject" placeholder="Subject" required />
    <input type="submit" value="Write an email" />
  </form>
  {% if result %}
  <div class="result">{{ response }}</div>
  {% endif %}
</body>